.DS_Store

application/cache/
application/config/*
!application/config/config.php
application/controllers/
application/errors/
application/helpers/
application/hooks/
application/language/
application/libraries/
application/logs/
application/models/
application/views/

/index.php

system/

